.form__cost{
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(0, 180, 180);
}
.cost__form__btn{
    background-color: #00B4B4;
    color: #ffffff;
}
.cost__form__btn:hover{
    border: 1px solid #00B4B4;
    color: #00B4B4;
    background-color: #ffffff;
    transition: .5s;
}